In [1]:
import pandas as pd
import numpy as np

In [3]:
dict = {'Col1': [1, 2, 4, np.nan],
        'Col2':[3, np.nan, 8, 2]}
df = pd.DataFrame(dict)

In [6]:
df.isnull() * 1

   Col1  Col2
0     0     0
1     0     1
2     0     0
3     1     0

In [7]:
df.fillna('Missing')

      Col1     Col2
0      1.0      3.0
1      2.0  Missing
2      4.0      8.0
3  Missing      2.0

In [8]:
df.fillna(df.mean())

       Col1      Col2
0  1.000000  3.000000
1  2.000000  4.333333
2  4.000000  8.000000
3  2.333333  2.000000

In [9]:
df.interpolate()

   Col1  Col2
0   1.0   3.0
1   2.0   5.5
2   4.0   8.0
3   4.0   2.0

In [10]:
df.dropna()

   Col1  Col2
0   1.0   3.0
2   4.0   8.0