In [2]:
import pandas as pd

In [3]:
people = pd.Series(['Carlos', 'Neymar', 'Pedro', 'Felipe'],
                   index=[1, 12, 11, 0]) # Si borramos index los valores seran por default (0-X)
people

1     Carlos
12    Neymar
11     Pedro
0     Felipe
dtype: object

In [5]:
people = {1: 'Carlos', 2: 'Neymar', 3: 'Pedro', 4: 'Felipe'}
pd.Series(people)

1    Carlos
2    Neymar
3     Pedro
4    Felipe
dtype: object

In [6]:
people = {'People': ['Carlos', 'Neymar', 'Pedro', 'Felipe'], 
 'Height': [1.70, 1.80, 1.78, 2.10]}

In [7]:
pd.DataFrame(people)

   People  Height
0  Carlos    1.70
1  Neymar    1.80
2   Pedro    1.78
3  Felipe    2.10